.Enregistrer{
    width: 100%;
}

.Parametres{
    margin-top: 2rem;
}

.URLContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.URL{
    flex:2;
}

.URLText{
    flex:1;
}

.LanguageContainer{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Language{
    flex:2;
}

.LanguageText{
    flex:1;
}