.Login {
    margin-top:auto;
    margin-bottom: auto;
}

.LoginForm{
    margin-left:auto;
    margin-right: auto;
    width: 20rem;
}

.InputUsername, .InputPassword, .ButtonLogin{
    width:100%;
}

.TaskEat{
    padding-bottom:2rem;
    margin-left:auto;
    margin-right: auto;
    display:flex;
}

.Isen{
    padding-bottom:2rem;
    margin-left:auto;
    margin-right: auto;
    display:flex;
    width:70%
}