.flex-container2{
  display: flex;
  justify-content: space-around;


}
.plus_button,.ant-btn-circle
{
  width: 2.5rem;
}
.card_elements
{
  height: 38rem;
  display: flex;
  flex-direction: column;

}
.Progressing_time, .ant-progress-line
{
  width: 40rem;
  max-width: 40rem;
  margin-top: 0.5rem;
  position: relative;
  /*margin-top: 1rem;*/
}
